body {
    background-color: purple;
}

h1, p {
    color: grey;
    font-family: cursive;
    font-style: italic;
    font-weight: bold; 
}
ul {
	color:grey;
	font-family: cursive;
    font-style: italic;
    font-weight: bold; 
}
