@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Slabo 27px', serif;
	color: rgba(0, 0, 0, .6);
	font-size: 18px;
}
header {
	color: white;
	padding: 20px;
}
nav {
	margin: auto;
}
.products p {
	display: block;
	float: left;
	clear: both;
}

.maincontent {
	padding: 20px;
	color: grey;
	background-color: #FFC675
	margin: 1.5em;
	font-weight: lighter;
	border: 1px black solid;
}
#specialoffer {
	width: 600px;
	margin: auto;
	padding: 3em;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}
h1 {
	text-align: center;
	font-size: 68px;
	font-weight: bold;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 24px;
}
a {
	color: inherit;
	display: block;
	text-decoration: none;
	float: right;
	padding: 20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
a:hover {
	color: green;
}
#splash {
	background: url("../images/Background_daisy copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:70vh;
	padding:10em 0 0;
	color: white;
}
#products {
	background:purple;
	color:#fff;
}
#ourphilosophy {
	width: 600px;
	margin: auto;
	padding: 3em;
	display: block;
	clear: both;
}
#two_column {
	background-color: #FFb7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 25%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 70%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear: both;
	height: 0;
}

