@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Slabo 27px', serif;
	color: grey;
	margin: 1.5em;
}
header {
	background: #F1C2F7;
}
h1 {
	text-align: center;
	font-size: 68px;
	font-weight: bold;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 24px;
}
p {
	text-align: left;
	font-size: 18px;
	font-family: 

}
li {
	text-align: left;
}
a {
	color: grey;
}
#splash {
	background: url("../images/background_daisy copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height:70vh;
	padding:10em 0 0;
	color: white;
}

