@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Slabo 27px', serif;
<<<<<<< Updated upstream
	color: rgba(0, 0, 0, .6);
	font-size: 18px;
}
section {
	padding:5em 0;
=======
	color: grey;
	margin: 1.5em;
	font-weight: lighter;
>>>>>>> Stashed changes
}
header {
	background: #F1C2F7;
}
h1 {
	text-align: center;
	font-size: 68px;
	font-weight: bold;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 24px;
}
a {
	color: inherit;
}
#splash {
	background: url("../images/Background_daisy copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height:70vh;
	padding:10em 0 0;
	color: white;
}
#products {
	background:purple;
	color:#fff;
}
