@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Slabo 27px', serif;
	color: rgba(0, 0, 0, .6);
	font-size: 18px;
}
section {
	padding: 20px;
	color: grey;
	background-color: #FFC675;
	margin: 1.5em;
	font-weight: lighter;
	border: 1px black solid;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
main {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	text-align: center;
	font-size: 68px;
	font-weight: bold;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 24px;
}
a {
	color: inherit;
}
#splash {
	background: url("../images/Background_daisy copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 1080px;
	height:70vh;
	padding:10em 0 0;
	color: white;
}
#products {
	background:purple;
	color:#fff;
}
div {
	width: 1080px;
}

