body {
	background: url("background.jpg");
	font-family: helvetica, sans-serif;
	color: grey;
}
header {
	color: #F1C2F7;
}
h1 {
	text-align: center;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
p {
	text-align: left;
}
li {
	text-align: left;
}
a {
	color: green;
}