body {
	font-family: helvetica, sans-serif;
	color: grey;

}
h1 {
	text-align: center;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}
p {
	text-align: left;
}
li {
	text-align: left;
}