body {
	font-family: helvetica, sans-serif;
	color: #000
}
h1 {
	text-align: center;
	color: #E5B7D7;
}
h2 {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	color: #94B1B2;
}
p {
	text-align: left;
}
li {
	text-align: left;
}